/* General App Styling */
.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  border-radius: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #61dafb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4fa8d5;
}

label {
  display: block;
  margin-bottom: 20px;
}

/* Dropdown Styling */
.pokemon-select .react-select__control {
  width: 250px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
}

.pokemon-select .react-select__menu {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-select .react-select__option {
  padding: 10px 15px;
}

.pokemon-select .react-select__option--is-focused {
  background-color: #e9e9e9;
}

.pokemon-select .react-select__option--is-selected {
  background-color: #61dafb;
  color: white;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

th, td {
  border: 1px solid #e0e0e0;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f5f5f5;
}

/* For the Pokémon images */
th img {
  width: 50px;
  height: 50px;
}

/* Ensure table has 8 columns */
table {
  table-layout: fixed;
}

table th, table td {
  width: 12.5%;
}

/* Color Coding */
.color-light-red {
  color: #ff7f7f; /* Light red */
}

.color-red {
  color: red;
}

.color-light-green {
  color: #7fff7f; /* Light green */
}

.color-green {
  color: green;
}

.total-weak {
  background-color: #ff4c4c;
  color: white;
}

.total-resist {
  background-color: #4cff4c;
  color: white;
}
